<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/autor.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/testimonials.css">
    <link rel="stylesheet" href="/css/footer.css">

    <title>Centro Paula Souza</title>
</head>
<body>
    <header></header>

    <main id="content">

      <section class="navbar">
        <div class="logo">
            <img src="/public/imgs/imagens/cps.png">
        </div>
        <div class="navs">
            <a href="#">
                <div class="icons">  
                    <h3>Inicio</h3>
                </div>
            </a>
            
            <a href="#">
                <div class="icons">
                    <h3>Datas</h3>
                </div>
            </a>

            <a href="#">
                <div class="icons">
                    <h3>Outro</h3>
                </div>
            </a>
            <a href="#">
                <div class="icons">
                    <h3>Outro</h3>
                </div>
            </a>
            <a href="#">
                <div class="icons">
                    <h3>Outro</h3>
                </div>
            </a>
        </div>
        <div class="pesquisa">
            <input type="text" class="barra-texto" placeholder="Pesquisar">
            <a href="#">
                <img src="./imgs/imagens/pesquisa.png">
            </a>
        </div>
        <div class="botaoHambur">
            <img src="./imgs/imagens/menu.png" alt="">
        </div>
      </section>

        <section id="home">
            <div class="shape"></div>
            <div id="cta">
                <h1 class="title">
                    O <span>Centro Paula Souza</span> tem muito  a oferecer.
                </h1>

                <p class="desc"> o Centro Paula Souza desempenha um papel crucial na educação profissional e tecnológica no estado de São Paulo.</p>

                <div class="buttons">
                    <a href="" class="btn-default">Acesse o site oficial</a>
                </div>

                <div class="social-media-buttons">
                    <a href="">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
    
                    <a href="">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
    
                    <a href="https://www.facebook.com/governosp/">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>

            <div class="banner">
                <img src="/public/imgs/imgCps/logoCps.png" alt="">
            </div>
        </section>

        <section class="about">
            <h1 class="title">
                <span>Missão</span> e Valores
            </h1>
            <p class="desc"> A missão do Centro Paula Souza é promover a educação profissional e tecnológica para o desenvolvimento humano e socioeconômico, contribuindo para a formação de cidadãos conscientes e preparados para enfrentar os desafios do mercado de trabalho. Os valores que norteiam a instituição incluem a excelência acadêmica, a inovação, a inclusão social, a sustentabilidade e a responsabilidade social.</p>
        </section>
        

        <section class="gallery" id="gallery">
            <h1 class="section-title">Galeria</h1>
            <div class="box-container">
              <div class="box">
                <img src="/public/imgs/imgCps/cps1.jpg">
                <div class="content">
                  <h3>Centro Paula Souza</h3>
                  <p>Alunos Centro Paula Souza.</p>
                </div>
              </div>
              <div class="box">
                <img src="/public/imgs/imgCps/cps2.jpg">
                <div class="content">
                  <h3>Centro Paula Souza</h3>
                  <p>Galeria CPS.</p>
                </div>
              </div>
              <div class="box">
                <img src="/public/imgs/imgCps/cps3.jpg">
                <div class="content">
                  <h3>Centro Paula Souza</h3>
                  <p>Professor mais antigo do CPS.</p>
                </div>
              </div>
              <div class="box">
                <img src="/public/imgs/imgCps/cps4.jpg">
                <div class="content">
                  <h3>Centro Paula Souza</h3>
                  <p>Governador recebe intercâmbistas no Pálacio dos Bandeirantes.</p>
                </div>
              </div>
              <div class="box">
                <img src="/public/imgs/imgCps/cps5.jpg">
                <div class="content">
                  <h3>Centro Paula Souza</h3>
                  <p>Centro Paula Souza.</p>
                </div>
              </div>
              <div class="box">
                <img src="/public/imgs/imgCps/cps6.jpg">
                <div class="content">
                  <h3>Centro Paula Souza</h3>
                  <p>Cafelândia.</p>
                </div>
              </div>
                </div>
              </div>
            </div>
        </section>

        <section class="infos">
            <div class="texts">
                <h2 class="section-title">
                    Centro Paula Souza
                </h2>
                <p class="desc"> O Centro Paula Souza administra 223 Etecs e 73 Fatecs espalhadas por todo o estado de São Paulo, abrangendo diversas áreas do conhecimento e atendendo a centenas de milhares de alunos. As Etecs oferecem cursos técnicos de nível médio, integrados ao ensino médio, bem como cursos técnicos modulares para jovens e adultos. As Fatecs, por sua vez, oferecem cursos de graduação tecnológica, que são programas de ensino superior voltados para a formação de tecnólogos.</p>
            </div>

            <div class="text">
                <h2 class="section-title">
                    Inovação e Pesquisa
                </h2>
                <p class="desc"> A instituição investe fortemente em inovação e pesquisa, promovendo o desenvolvimento de projetos em parceria com empresas e outras instituições de ensino e pesquisa. As Fatecs, em especial, têm se destacado na produção de conhecimento e na aplicação prática de tecnologias inovadoras, contribuindo para o avanço tecnológico e para a solução de problemas reais.</p>
            </div>

            <div class="text">
                <h2 class="section-title">
                    Cursos e Programas
                </h2>
                <p class="desc"> As Etecs e Fatecs oferecem uma ampla gama de cursos em diversas áreas, incluindo Administração, Informática, Saúde, Meio Ambiente, Indústria, Serviços e Agronegócio, entre outros. Os cursos são constantemente atualizados para atender às demandas do mercado de trabalho e às novas tecnologias. Além dos cursos regulares, o CPS também oferece programas de educação continuada, cursos de especialização, programas de ensino a distância e parcerias com empresas para a realização de estágios e projetos.</p>
            </div>
            
        </section>

        <section class="publi">
          <h1 class="section-title">Publicado em 2 de junho de 2024 | Projeto de PW</h1>
        </section>

        <section class="sobre" id="sobre">
            <div class="interface">
              <div class="flex">     
                <div class="img_sobre">
                  <img src="/public/imgs/imgCps/logoCps.png" alt="">
                </div>      
                <div class="txt_sobre">
                  <h1>Autor <span> Centro Paula Souza.</span></h1>
                  <p>Criado por um decreto-lei de 6 de outubro de 1969, na gestão do governador Roberto Costa de Abreu Sodré (1967 – 1971), o Paula Souza nasceu com a missão de implantar uma rede gratuita de cursos superiores de tecnologia. Um ano depois começou a oferecer três na área de Construção Civil e dois em Mecânica.</p>    
                </div>
              </div>
            </div>      
        </section>

          

        <section id="testimonials">
            <img src="/public/imgs/imgCps/cps.png" id="testimonial_cps" alt="">

            <div id="testimonials_content">
                <h2 class="section-title">
                    Comentários
                </h2>
                <h3 class="section-subtitle">
                    O que os alunos falam sobre nós
                </h3>

                <div id="feedbacks">
                    <div class="feedback">
                        <img src="/public/imgs/imgCmts/mulher1.png" class="feedback-avatar" alt="">

                        <div class="feedback-content">
                            <p>
                                Marina Goes
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <p>
                                "Amo os cursos, agradeço ao Centro Paula Souza por tudo que sei hoje."
                            </p>
                        </div>
                    </div>

                    <div class="feedback">
                        <img src="/public/imgs/imgCmts/mulher2.jpg" class="feedback-avatar" alt="">

                        <div class="feedback-content">
                            <p>
                                Ana Barros
                                <span>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </span>
                            </p>
                            <p>
                                "Nada a reclamar, amo os cursos"
                            </p>
                        </div>
                    </div>
                </div>

                <button class="btn-default">
                    Ver mais avaliações
                </button>
            </div>
        </section>

        <section class="footer">
          <div class="logo">
            <img src="./imgs/imagens/cps.png">
          </div>
          <div class="paginas">
              <div class="titulo">
                  <h1>Paginas</h1>
                  <snap class="line"></snap>
              </div>
              <nav>
                  <a href="">Início</a>
                  <a href="">Datas</a>
                  <a href="">Outro</a>
                  <a href="">Outro</a>
                  <a href="">Outros</a>
              </nav>
          </div>
          <div class="desenvolvedores">
              <div class="titulo">
                  <h1>Desenvolvedores</h1>
                  <snap class="line"></snap>
              </div>
              <nav>
                  <a href="">Barbara Samira</a>
                  <a href="">Rebeca Pimentel</a>
              </nav>
          </div>
          <div class="orientador">
              <div class="titulo">
                  <h1>Orientador</h1>
                  <snap class="line"></snap>
              </div>
              <nav>
                  <a href="">Everson Bacelli</a>
              </nav>
          </div>
          <div class="redes-sociais">
              <div class="titulo">
                  <h1>Siga - nos</h1>
                  <snap class="line"></snap>
              </div>
              <div class="redes">
                  <a> <img src=".//imgs/imagens/skill-icons_instagram.png" alt=""></a>
                  <a> <img src="./imgs/imagens/devicon_facebook.png" alt=""></a>
                  <a> <img src="./imgs/imagens/skill-icons_twitter.png" alt=""></a>
                  <a> <img src="./imgs/imagens/logos_google-gmail.png" alt=""></a>
              </div>
          </div>
        </section>

        

    </main>

    <a href="http://localhost:3000/"></a>
    <a href="http://localhost:3000/ola"></a>

</body>
</html>