        <section class="footer">
          <div class="logo">
            <img src="./imgs/imagens/cps.png">
          </div>
          <div class="paginas">
              <div class="titulo">
                  <h1>Paginas</h1>
                  <snap class="line"></snap>
              </div>
              <nav>
                  <a href="">Início</a>
                  <a href="">Datas</a>
                  <a href="">Outro</a>
                  <a href="">Outro</a>
                  <a href="">Outros</a>
              </nav>
          </div>
          <div class="desenvolvedores">
              <div class="titulo">
                  <h1>Desenvolvedores</h1>
                  <snap class="line"></snap>
              </div>
              <nav>
                  <a href="">Barbara Samira</a>
                  <a href="">Rebeca Pimentel</a>
              </nav>
          </div>
          <div class="orientador">
              <div class="titulo">
                  <h1>Orientador</h1>
                  <snap class="line"></snap>
              </div>
              <nav>
                  <a href="">Everson Bacelli</a>
              </nav>
          </div>
          <div class="redes-sociais">
              <div class="titulo">
                  <h1>Siga - nos</h1>
                  <snap class="line"></snap>
              </div>
              <div class="redes">
                  <a> <img src=".//imgs/imagens/skill-icons_instagram.png" alt=""></a>
                  <a> <img src="./imgs/imagens/devicon_facebook.png" alt=""></a>
                  <a> <img src="./imgs/imagens/skill-icons_twitter.png" alt=""></a>
                  <a> <img src="./imgs/imagens/logos_google-gmail.png" alt=""></a>
              </div>
          </div>
        </section>
