

    <section id="home">
                <div class="shape"></div>
                <div id="cta">
                    <h1 class="title">
                       {{home.titulo}} {{home.span}}
                    </h1>

                    <p class="desc"> 
                        {{home.desc}}
                    </p>

                    <div class="buttons">
                        <a href="" class="btn-default">Acesse o site oficial</a>
                    </div>

                    <div class="social-media-buttons">
                        <a href="">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
        
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
         
                        <a href="https://www.facebook.com/governosp/">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                </div>

                <div class="banner">
                    <img src="{{home.imagem}}" alt="">
                </div>
        </section>
