
    <section class="infos">
        <div class="texts">
            <h2 class="section-title">
                {{infos.title}}
            </h2>
            <p class="desc"> 
                {{infos.desc}}
            </p>
        </div>
    </section>