<div class="menuResp ">
          <div class="navs">
                <a href="http://localhost:3000/">
                    <div class="icons">  
                        <h3>Inicio</h3>
                    </div>
                </a>
                
                <a href="http://localhost:3000/cps">
                    <div class="icons">
                        <h3>CPS</h3>
                    </div>
                </a>
    
                <a href="http://localhost:3000/dtsComemorativas">
                    <div class="icons">
                        <h3>Datas</h3>
                    </div>
                </a>
                <a href="http://localhost:3000/eventosCulturais">
                    <div class="icons">
                        <h3>Eventos</h3>
                    </div>
                </a>
                <a href="http://localhost:3000/paginaFofoca">
                    <div class="icons">
                        <h3>Fofokinha</h3>
                    </div>
                </a>
                <a href="http://localhost:3000/curso">
                  <div class="icons">
                      <h3>Curso</h3>
                  </div>
              </a>
                <a href="#" >
                    <div class="icons" id="espeNav">
                        <h3 class="espeNav">Outro</h3>
                    </div>
                </a>
            </div>
            <div class="pesquisa">
                <input type="text" class="barra-texto" placeholder="Pesquisar">
            </div>
            
        </div> 