 
 <section class="navbar">
            <div class="logo">
                <img src="./imgs//cps.png">
            </div>
            <div class="navs">
                <a href="http://localhost:3000/">
                    <div class="icons">  
                        <h3>Inicio</h3>
                    </div>
                </a>
                
                <a href="http://localhost:3000/cps">
                    <div class="icons">
                        <h3>CPS</h3>
                    </div>
                </a>
    
                <a href="http://localhost:3000/dtsComemorativas">
                    <div class="icons">
                        <h3>Datas</h3>
                    </div>
                </a>
                <a href="http://localhost:3000/eventosCulturais">
                    <div class="icons">
                        <h3>Eventos</h3>
                    </div>
                </a>
                <a href="http://localhost:3000/paginaFofoca">
                    <div class="icons">
                        <h3>Fofokinha</h3>
                    </div>
                </a>
                <a href="http://localhost:3000/curso">
                  <div class="icons">
                      <h3>Curso</h3>
                  </div>
              </a>
            </div>
            <div class="pesquisa">
                <input type="text" class="barra-texto" placeholder="Pesquisar">
                <a href="#">
                    <img src="./imgs/pesquisa.png">
                </a>
            </div>
            <div class="botaoHambur">
                <img src="./imgs/menu.png" alt="">
            </div>
        </section>