        <section class="sobre" id="sobre">
            <div class="interface">
              <div class="flex">     
                <div class="img_sobre">
                  <img src="./imgs/imgCps/logoCps.png" alt="">
                </div>      
                <div class="txt_sobre">
                  <h1>Autor <span> Centro Paula Souza.</span></h1>
                  <p>Criado por um decreto-lei de 6 de outubro de 1969, na gestão do governador Roberto Costa de Abreu Sodré (1967 – 1971), o Paula Souza nasceu com a missão de implantar uma rede gratuita de cursos superiores de tecnologia. Um ano depois começou a oferecer três na área de Construção Civil e dois em Mecânica.</p>    
                </div>
              </div>
            </div>      
        </section>