*{
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.row{
    display: flex;
    flex-direction: row;
}

.borda {
    padding: 25px;
    background-color: blueviolet;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: larger;
}
.delete {
    width: 25px;
}

#zero {
    width: 100px;
}

.visor input{
    width: 100%;    
    border: none;
    height: 50px;
    margin-bottom: 10px;
}